version: "3.7"

services:
  frontend:
    image: automacoes-frontend:latest

    networks:
      - network_public

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.automacoes-frontend.rule=Host(`automacoes.pelg.com.br`)
        - traefik.http.routers.automacoes-frontend.entrypoints=websecure
        - traefik.http.routers.automacoes-frontend.priority=1
        - traefik.http.routers.automacoes-frontend.tls.certresolver=letsencryptresolver
        - traefik.http.routers.automacoes-frontend.service=automacoes-frontend
        - traefik.http.services.automacoes-frontend.loadbalancer.server.port=80

networks:
  network_public:
    external: true
